.btn-hidden {
  display: none;
}


.payment-sec .content .form-check {
  display: flex;
  /* flex-direction: row-reverse; */
  /* justify-content: flex-start; */
  align-items: center;

  background: #fff;
  padding-block: 12px;
  padding-inline-end: 38px;
  border-radius: 4px;
  /* width: 100%; */
  width: 350px;
  box-shadow: -1px 4px 11px 0px #f3f3f3;
  margin: 5px;
}

.payment-sec .content .form-check .input-info span {
padding-inline-start: 10px;
}
