<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Our Latest Products</h2>
          <span>Check out all of our products.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div
        class="col-lg-12 text-start text-lg-end wow slideInRight"
        data-wow-delay="0.1s"
      ></div>
    </div>
    <div class="row">
      @for (product of filteredProducts| filter : searchText; track $index) {
  
        <div class="col-lg-3 pointer" [routerLink]="['/product', product.id]">
          <div class="item">
            <div class="thumb">
              <div class="hover-content">
                <ul>
                  <li>
                    <a (click)="addToCart(product)"
                      ><i class="fa fa-shopping-cart"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <img [src]="product.prodPhoto" alt="" />
            </div>
            <div class="down-content">
              <h4>{{ product.name }}</h4>
              <p>{{ product.categoryName }}</p>
              <span>${{ product.price }}</span>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
            </div>
          </div>
        </div>
   
      }
    </div>
  </div>
</section>
<!-- ***** Products Area Ends ***** -->
