<footer class="absolute-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="../white-logo.png" alt="hexashop ecommerce templatemo">
                    </div>
                    <ul>
                        <li><a href="#">FL 33160, United States</a></li>
                        <li><a href="#">hexashopcom</a></li>
                        <li><a href="#">010-020-0340</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul class="text-white">
                    <li><a (click)="filterPerCtegory(2)">Men’s Shopping</a></li>
                    <li><a (click)="filterPerCtegory(1)">Women’s Shopping</a></li>
                    <li><a (click)="filterPerCtegory(3)">Kid's Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a routerLink="" >Homepage</a></li>
                    <li><a routerLink="" >About Us</a></li>
                    <li><a routerLink="" >Help</a></li>
                    <li><a routerLink="" >Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a routerLink="">Help</a></li>
                    <li><a routerLink="">FAQ's</a></li>
                    <li><a routerLink="">Shipping</a></li>
                    <li><a routerLink="">Tracking ID</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

