<!-- <p>cart works!</p> -->

<div class="container">
  <div class="row" *ngIf="count == 0">cart is empty</div>
  <div class="row" *ngIf="count != 0">
    <div class="col-md-8">
      <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
          <tr>
            <th>Products</th>
            <th>name</th>
            <th>Quantity</th>
            <th>update</th>
          </tr>
        </thead>

        <tbody class="align-middle">
          <tr *ngFor="let item of cartService.cartItems">
            <td style="text-align: left">
              <img [src]="item.uploadPhoto[0]" alt="" style="width: 50px" />
              {{ item.name }}
            </td>
            <td class="align-middle">{{ item.name }}</td>
            <td class="align-middle">{{ item.qty }}</td>
            <td class="align-middle">
              <div class="d-flex align-items-center">
                <div class="offset-md-2 m-2">
                  <input
                    type="number"
                    name="quantity"
                    min="1"
                    max="5"
                    [(ngModel)]="item.qty"
                    (click)="chngQuantity()"
                  />
                </div>
                <div class="ml-md-auto m-2">
                  <button class="btn btn-primary" (click)="removeProduct(item)">
                    X
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4"></div>

    <div class="d-flex mt-2">
      <button type="button" class="btn btn-primary" (click)="preview()">
        CheckOut
      </button>
    </div>
  </div>


</div>
