<!-- Button trigger modal -->
<div class="container">
  <div class="row">
    <div>
      <button
        type="button"
        class="btn btn-primary mb-2"
        data-bs-toggle="modal"
        data-bs-target="#productModal"
        (click)="OnAddProductPopup()"
      >
        add new product
      </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">category</th>
          <th scope="col">price</th>
          <th scope="col">rating</th>
          <th scope="col">prodPhoto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (item of ProductList; track $index) {
        <tr>
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.categoryName }}</td>
          <td>{{ item.price }}$</td>
          <td>{{ item.rating }}</td>
          <td>
            <img [src]="item.prodPhoto" alt="" width="50px" height="50px" />
          </td>
          <td>
            <span
              (click)="onUpdateProductPopUp(item.id!)"
              data-bs-toggle="modal"
              data-bs-target="#productModal"
            >
              <i class="fa fa-pencil fa-lg m-1"></i>
            </span>

            <span
              (click)="onDeletePopup(item.id!)"
              data-bs-toggle="modal"
              data-bs-target="#deleteModel"
              ><i class="fa fa-trash fa-lg m-1"></i>
            </span>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <!-- Modal -->
    <div
      class="modal fade"
      id="productModal"
      tabindex="-1"
      aria-labelledby="productModalLabel"
      aria-hidden="true"
      aria-modal="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="productModalLabel">
              {{ !addEditProduct ? "Add" : "update" }} New Product
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="productForm">
                  <div class="form-group mb-1">
                    <label>Name</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                      [ngClass]="{
                        'is-invalid': addEditProduct && name?.errors
                      }"
                    />
                    <div
                      *ngIf="addEditProduct && name?.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="name?.errors?.['required']">
                        Name is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-1">
                    <label>Category</label>

                    <div class="mb-3">
                      <select class="form-select" formControlName="category">
                        <option
                          *ngFor="let item of categoryList"
                          [ngValue]="item"
                        >
                          {{ item.name }}
                        </option>
                      </select>

                      <!-- error block -->
                      <div
                        class="invalid-feedback"
                        *ngIf="addEditProduct && category?.errors"
                        class="invalid-feedback"
                      >
                        <sup>*</sup>Please enter your city name
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-1">
                    <label>Price</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="price"
                      [ngClass]="{
                        'is-invalid': addEditProduct && price?.errors
                      }"
                    />
                    <div
                      *ngIf="addEditProduct && price?.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf=" price?.errors?.['required']">
                        price is required
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-1">
                    <label for="UploadimgControlInput" class="form-label"
                      >Upload File/Image :
                    </label>
                    <span *ngIf="addEditProduct">{{ imageName }}</span>
                    <input
                      type="file"
                      class="form-control"
                      id="UploadimgControlInput"
                      formControlName="prodPhoto"
                      (click)="uploadImage($event)"
                      [ngClass]="{
                        'is-invalid': addEditProduct && prodPhoto?.errors
                      }"
                      placeholder="Upload Image"
                    />
                    <div
                      *ngIf="addEditProduct && prodPhoto?.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="prodPhoto?.errors?.['required']">
                        Image is required
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-1">
                    <label>rating</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="rating"
                      [ngClass]="{
                        'is-invalid': addEditProduct && rating?.errors
                      }"
                    />
                    <div
                      *ngIf="addEditProduct && rating?.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="rating?.errors?.['required']">
                        rating is required
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-1">
                    <label>Description</label>
                    <textarea
                      type="text"
                      class="form-control"
                      formControlName="description"
                      [ngClass]="{
                        'is-invalid': addEditProduct && description?.errors
                      }"
                    ></textarea>
                    <div
                      *ngIf="addEditProduct && description?.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="description?.errors?.['required']">
                        description is required
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              #closeUpdateAdd
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="addNewProduct()"
              *ngIf="!addEditProduct"
              [disabled]="!productForm.valid"
            >
              Add
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="updateProduct()"
              *ngIf="addEditProduct"
              [disabled]="!productForm.valid"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Modal -->
    <div
      class="modal fade"
      id="deleteModel"
      tabindex="-1"
      aria-labelledby="deleteModelLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            Are you sure you want do delete this item?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              #closebutton
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deletProduct()"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
