.item-div {
    display: flex;
    align-items: center;
    background: #fff;
    padding-block: 19px;
    padding-inline-end: 38px;
    border-radius: 4px;
    width: 350px;
    box-shadow: -1px 4px 11px 0px #dddddd;
    margin: 5px;
    padding-inline-start: 20px;
    border: 1px solid #f4f4f4;
}

.item-div p {
  font-size: 17px;
}
