<div class="container">
  <div class="row">
    <div class="col-6 m-auto">
      <h5 class="text-center">Admin login</h5>
      <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <div class="form-group m-2">
          <label for="exampleInputEmail1">Email</label>
          <input
            class="form-control"
            type="text"
            id="email"
            name="email"
            ngModel
            required
            email
          />
        </div>

        <div class="form-group m-2">
          <label for="password">password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            ngModel
            required
            minlength="6"
          />
        </div>
        <button
          class="btn btn-primary m-2"
          type="submit"
          [disabled]="!myform.form.valid"
        >
          login
        </button>
      </form>
    </div>
  </div>
</div>
